<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Students</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="../static/images/SmilingPython.png" alt="python picture" />
      </div>
        <nav>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="index.html">Main</a></li>
                <li role="presentation"><a href="contact.html">Contacts</a></li>
                <li role="presentation" class="active"><a href="#">Students</a></li>
            </ul>
        </nav>
    <div class="students_header">
        <h2>SDAcademy students </h2> 
    </div>
    <div class="students_content">
        <p>The list of students enrolled to our course in 2015.</p>
    </div>    
     <table class="table table-hover table-bordered">
       <thead>
        <tr>
          <th>No</th>
          <th>Surname</th>
          <th>Name</th>
          <th>Address</th>
          <th>Skype</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><a href="student_detail.html">1</a></td> 
           <td>Champion</td>
           <td>Viking</td>
           <td>Украина, г.Харьков, ул.Молочная, д.12, кв.31</td>
           <td>viking_dog</td>
         </tr>
         <tr>
           <td>2</td>
           <td>Obby</td>
           <td>Lord</td>
           <td>Украина, г.Харьков, ул.Забайкальская, д.44-б кв.8</td>
           <td>lord.obby</td>
         </tr>
         <tr>
           <td>3</td>
           <td>John</td>
           <td>Vanessa</td>
           <td>Украина, г.Харьков, ул.Льва Толстого, д.12 кв.34</td>
           <td>vanessa</td>
          </tr>
          <tr>
           <td>4</td>
           <td>Lucas</td>
           <td>Nick</td>
           <td>Украина, г.Харьков, пр.Победы, д.67 кв.158</td>
           <td>nick.lucas</td>
          </tr>
          <tr>
           <td>5</td>
           <td>Prime</td>
           <td>Optimus</td>
           <td>Украина, г.Харьков, ул.Академика Павлова, д.128 кв.45</td>
           <td>optimus.5</td>
          </tr>
        </tbody>
      </table>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
